<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
  <title>Tech Blog</title>
</head>

<body>
  <div>
    <header>
      <h1 class="d-flex justify-content-center bg-primary text-white p-5">The Tech Blog</h1>
      <nav class="d-flex justify-content-center">
        <a class ="m-2" href="/">Home</a>
        <a class ="m-2" href="/dashboard">Dashboard</a>
        {{#if logged_in}}
        <a class ="m-2" href="/" id="logout">Logout</a>
        {{else}}
        <a class ="m-2" href="/login">Login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
  </div>

  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html>