<h2>Your Dashboard</h2>

{{#each blogs as |blog|}}
<div>
    <div>
        <h2>
            <a href="/blog/{{blog.id}}">{{blog.title}}</a>
        </h2>
        <p>{{format_date blog.date_created}}</p>
    </div>
</div>
{{/each}}

<div>
    <button id="post-btn">Create New Post</button>
</div>


{{#if logged_in}}
<script src="/js/blog.js"></script>
{{/if}}