{{#each blogs as |blog|}}
<div>
    <div>
        <h2>
            {{blog.title}}
        </h2>
        <p>
            Posted by {{blog.user.username}} on {{format_date blog.date_created}}
        </p>
    </div>
</div>
{{/each}}