<h2>Create New Post</h2>
<form class = "login-form">
    <div>
        <label>Title:</label>
        <input type="text" id="blog-title" />
    </div>
    <div>
        <label>Content:</label>
        <input type="text" id="blog-title" />
    </div>
    <div>
        <button type="submit">Post</button>
    </div>
</form>
