<h2 class="d-flex justify-content-center">Create New Post</h2>

<form class = "post-form m-5">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control" id="blog-title" />
    </div>
    <div class="form-group">
        <label>Content:</label>
        <input type="text" class="form-control" id="blog-content" />
    </div>
    <div class="text-center">
        <button class="btn btn-outline-primary" type="submit">Post</button>
    </div>
</form>

<script src="/js/post.js"></script>