<h2>Sign Up</h2>

<form class="signup-form">
    <div>
        <label>Username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label>Password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit">sign up</button>
    </div>
    <a href="/login">Login</a>
</form>

<script src="./js/signup.js"></script>